h1 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.dashboard {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.tv-sales {
    color: green;
    border: 2px solid currentColor;
}

.stock {
    color: blue;
    border: 2px solid currentColor;
}

.salesGoal {
    color: red;
    border: 2px solid currentColor;
}

